# Database
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DB_NAME"

# Proxmox API
PROXMOX_HOST=
PROXMOX_TOKEN_ID=
PROXMOX_TOKEN_SECRET=
PROXMOX_NODE=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Cron Job (untuk akses endpoint /api/cron/* oleh sistem cron external)
CRON_API_KEY=

# Template VM Proxmox (untuk auto-create VM saat order baru)
PROXMOX_TEMPLATE_VMID=
PROXMOX_STORAGE=local-zfs
PROXMOX_BRIDGE=vmbr0
